---
import BaseLayout from '@layouts/baseLayout.astro';
import Hero from '@components/Hero.astro';
import Input from '@components/Input.astro';
---

<BaseLayout title="Home">
    <main class="container mx-auto px-8">
        <Hero />
        <Input />
    </main>
</BaseLayout>
