<div
    class="fixed inset-0 -z-10 h-full w-full bg-[radial-gradient(#b5a5a5_1px,transparent_1px)] [background-size:42px_42px]"
>
    <div
        class="fixed bottom-auto left-64 right-auto top-0 size-[300px] -translate-x-[-60%] translate-y-[75%] rounded-full bg-red-400/90 opacity-50 blur-[80px]"
    >
    </div>
    <div
        class="bg-primary fixed bottom-auto left-auto right-24 top-0 size-[300px] -translate-x-[120%] translate-y-[40%] rounded-full opacity-50 blur-[60px]"
    >
    </div>
    <div
        class="bg-third fixed bottom-10 left-64 right-auto top-auto size-[300px] -translate-x-[-150%] translate-y-[40%] rounded-full opacity-50 blur-[60px]"
    >
    </div>
</div>
