<div class="mx-auto max-w-[600px] py-12 text-center">
    <h1 class="text-5xl font-extrabold text-black">
        Create Articles for your Blog easily with
        <strong
            class="mt-[-5px] block bg-gradient-to-l from-red-700 via-red-950 to-red-700 bg-clip-text leading-snug text-transparent"
            >OpenAI GPT-4</strong
        >
    </h1>
    <p
        class="mt-4 text-lg font-semibold leading-tight tracking-wider text-zinc-700"
    >
        Experience effortless article creation with SageScriber! Transform your
        ideas into polished pieces effortlessly, making writing simple and
        effective for everyone.
    </p>
</div>
