<div class="mx-auto max-w-[600px] py-12 text-center">
    <h1
        class="text-2xl font-extrabold leading-none text-black md:text-4xl lg:text-5xl"
    >
        Create Articles for your <br class="hidden md:max-lg:block" /> Blog easily
        with
        <strong
            class="block bg-gradient-to-l from-red-700 via-red-950 to-red-700 bg-clip-text leading-snug text-transparent lg:mt-[-5px]"
            >OpenAI GPT-4</strong
        >
    </h1>
    <p
        class="mt-4 text-lg font-semibold leading-tight tracking-wider text-zinc-700"
    >
        Experience effortless article creation with SageScriber! Transform your
        ideas into polished pieces effortlessly, making writing simple and
        effective for everyone.
    </p>
</div>
