<form
    action=""
    class="relative mx-auto flex max-w-96 items-center justify-center"
>
    <!-- <img alt="link-icon" class="absolute left-0 my-2 ml-3 w-5" /> -->
    <input
        type="url"
        placeholder="put a keyword"
        required
        class="peer block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-10 pr-12 text-sm font-medium shadow-lg focus:border-black focus:outline-none focus:ring-0"
    />
    <button
        type="submit"
        class="submit_btn peer-focus:border-gray-700 peer-focus:text-gray-700"
    >
        <p>↵</p>
    </button>
</form>
<!-- value={article.url}
            onChange={(e) => {
                setArticle({ ...article, url: e.target.value });
            }} -->
<!-- onSubmit={handleSubmit}
            src={linkIcon} -->
<style></style>
